@{
    ViewData["Title"] = "Página Principal";
}
<div id="cuerpoPrincipal">

    <div class="text-center">
        <br>
        <h1 class="display-4 my-auto">Bienvenidos</h1>
        <br>
    </div>  



<div class="container text-center mt-5">
    <h3>¡Organizá tus planillas!</h3>
    <br>
    <p>Esta es una aplicación para que puedas crear tus cursos con la lista de sus respectivos alumnos para 
    poder cargar notas con el objetivo de tener un espacio organizado, ligero y eficiente. 
    </p>
</div>

<div class="container mt-5">
    <h4>Breve Instructivo </h4>
    <ol class="m-2">
        <li>Crea el nombre de tu Curso</li>
        <li>Agrega los alumnos correspondientes a dicho Curso</li>
        <li>Modifica cuando corresponda las calificaciones de cada Alumno</li>
    </ol>
</div>
</div>