@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Esta es una aplicación para que puedas crear tus cursos con la lista de sus respectivos alumnos para 
    poder cargar notas con el objetivo de tener un espacio organizado, ligero y eficiente. 
    </p>
</div>
