@model Nota


<h2 class="text-info text-center mb-2 text-danger">Modificar Calificaciones</h2>
<div class="container border">
    <form action="@Url.Action("actualizar", "Notas")" method="get">
        <input type="number" name="id" asp-for="ID" hidden>
        <div class="container m-3">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="nota1">Nota1:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="nota1" asp-for="NotaExamen1">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="recu1">Recu1:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="recu1" asp-for="NotaRecuperatorio1">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="nota2">Nota2:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="nota2" asp-for="NotaExamen2">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="recu2">Recu2:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="recu2" asp-for="NotaRecuperatorio2">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="ctp">N° de TP:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="ctp" asp-for="CantidadTrabajosPracticos">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="tpe">N° TP Hechos:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="tpe" asp-for="CantidadTrabajosEntregados">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row text-center">
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-success m-2" value="modificar"></input>
                        <a asp-action="listaNotas" asp-controller="Notas" class="btn btn-primary me-md-2">Cancelar</a>
                    </div>
                </div>
            </div>
   
        </div>

    </form>
</div>
