body {
    background-color: rgb(246, 219, 206);
    font-family: sans-serif;
}

.contenedor {
    margin: 50px;
    text-align: center;
}

h1 {
    color: #fff;
}

h2 {
    color: rgb(43, 161, 156);
}

header {
    padding: 5px;
    background-image: url("autoparte.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

nav {
    margin: 5px;
    padding: 10px;
    background: rgb(217, 201, 250);
} 


.divMedio, .consulta {
    border: 5px outset;
}

/*divCuerpo*/

.cuerpo {
    margin: 15px;
    margin-top: 35px;
    text-align: center;
}

/*divMedio*/

.divMedio {
    margin: 5px;
    margin-top: 10px;
}

p {
    font-family: monospace;
    font-size: 1.5em;
}

/*div consulta*/

.consulta_1 {
    margin: 5px;
    padding: 2px;
}

.boton {
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}