body {
    background-image: url("fondoT.png");
    color: azure;
}

.filaUnica {
    text-align: center; 
    background: rgb(10, 159, 204);
    box-shadow: inset 13px 9px 94px 7px rgba(0,0,0,0.33);  
}

button {
    margin: 1px;
    width: 95%;
}



